- title "Adhearsion Conf 2011"

%p The second AdhearsionConf will be held in San Francisco on the weekend of October 8-9, 2011.

%p Ben Klang, Ben Langfeld and Jason Goecke, the team behind Adhearsion, will all be on hand for two days of talks, knowledge sharing and even some pair programming on all things Ruby and Telephony. There will also be presentations from members of the Adhearsion community on interesting Adhearsion deployments, Adhearsion at scale, and more. Finally, there will be an exciting announcement that promises to take Ruby Telephony far beyond its current state.

%p Thanks to our sponsor, Voxeo Labs, makers of Tropo, we will enjoy the cozy spaces of NextSpace SF, as well as free food and beverages. Thanks to Mojo Lingo for buying the first couple of rounds at the Saturday Night Adhearsion Drinkup.

%h2 Who should attend AdhearsionConf 2011?
%ul
  %li Ruby developers who are already using Adhearsion
  %li Asterisk or FreeSWITCH users who need to create sophisticated functionality
  %li Telephony developers who are sure there MUST be a better way than all that XML...
  %li Web 2.0 developer who would like to better understand how they can use Adhearsion and Ruby to open up their applications to a whole new audience and style of interaction.

%h2 What's happening?

%h3 Saturday 8th
%table.schedule
  %thead
    %tr
      %th Time
      %th What
      %th Who
  %tr
    %td 9:00
    %td Registration, Coffee & Bagels
    %td
  %tr
    %td 9:45
    %td Welcome & Keynote address
    %td Ben Klang, Project lead & Founder, Mojo Lingo LLC
  %tr
    %td 10:45
    %td Adhearsion 101
    %td Ben Langfeld, Adhearsion core team
  %tr
    %td 11:30
    %td Short break
    %td
  %tr
    %td 11:45
    %td TBC
    %td TBC
  %tr
    %td 12:30
    %td Lunch
    %td
  %tr
    %td 14:00
    %td Adhearsion Hackfest
    %td
  %tr
    %td 15:30
    %td Short break
    %td
  %tr
    %td 15:45
    %td TBC
    %td TBC
  %tr
    %td 16:30
    %td TBC
    %td TBC
  %tr
    %td 21:00 - Late
    %td Adhearsion Drinkup
    %td TBC

%h3 Sunday 9th
%table.schedule
  %thead
    %tr
      %th Time
      %th What
      %th Who
  %tr
    %td 9:00
    %td Coffee & Bagels
    %td
  %tr
    %td 9:45
    %td Sunday Keynote
    %td Jason Goecke
  %tr
    %td 10:30
    %td TBC
    %td TBC
  %tr
    %td 11:15
    %td Short break
    %td
  %tr
    %td 11:30
    %td TBC
    %td TBC
  %tr
    %td 12:15
    %td Lunch
    %td
  %tr
    %td 13:45
    %td Lightning talks
    %td Everyone
  %tr
    %td 14:30
    %td Roadmap discussion
    %td Ben Klang, Ben Langfeld
  %tr
    %td 15:15 - 15:30
    %td Goodbye
    %td Ben Klang

%h3 Got something to share?
%p
  Fill in the
  %a{:href => 'http://mojolingo.wufoo.com/forms/adhearsionconf-2011-call-for-speakers/'} speaker proposal form!

%h2 How do I register?
%p
  Just
  %a{:href => 'http://www.eventbrite.com/event/1762530777'} click here
  to register for free and save your place.

%h2 Where will I stay?
%p
  We've got you covered. The awesome folks at Voxeo Labs have secured a discounted rate at
  %a{:href => 'http://hotelunionsquare.com'} Hotel Union Square
  for those lucky few attendees who manage to get in quick. Just
  %a{:href => 'https://reservations.ihotelier.com/crs/g_reservation.cfm?groupID=623765&hotelID=14474'} click here
  or use the group code 'Adhearsion' to join in the fun.
