- title "Punchblock"

%p
  Ever since its inception, Adhearsion has directly interfaced with Asterisk and only recently gained support for Tropo via the AGItate AGI emulator. That's all changing... Check out the
  %a{:href => 'https://github.com/adhearsion/punchblock/wiki/Punchblock'} Punchblock Wiki
  for more information.
