- title "Screencasts"

%p More screencasts coming soon!

%h2 Contributing to Adhearsion

%p
  This screencast by Jay Phillips shows how he manages the Adhearsion source base with
  %a{:href => "http://git-scm.com"} git
  and
  %a{:href => "http://github.com"} Github
  , and how easy it is for anyone to contribute to Adhearsion (and receive indefinite credit for their contribution).

%embed{:width => "430", :height => "287", :allowfullscreen => "true", :allowscriptaccess => "always", :type => "application/x-shockwave-flash", :src => "http://blip.tv/play/AczTKY7jVg"}

%h2 Installing Adhearsion

%p This screencast by community member Justin Grammens shows how to install Adhearsion.

%embed{:width => "430", :height => "287", :allowfullscreen => "true", :allowscriptaccess => "always", :type => "application/x-shockwave-flash", :src => "http://blip.tv/play/Ac79CI7jVg"}

%h2 Installing Asterisk

%p This screencast by community member Justin Grammens shows how to install Asterisk.

%embed{:width => "430", :height => "287", :allowfullscreen => "true", :allowscriptaccess => "always", :type => "application/x-shockwave-flash", :src => "http://blip.tv/play/Ac78d47jVg"}

%h2 Installing Ruby & Adhearsion on AsteriskNOW

%p
  This screencast by Jason Goecke shows how to install Ruby & Adhearsion on the
  %a{:href => "http://www.asterisknow.org"} AsteriskNOW
  soft appliance.

%embed{:width => "430", :height => "287", :allowfullscreen => "true", :allowscriptaccess => "always", :type => "application/x-shockwave-flash", :src => "http://blip.tv/file/1632679"}

%h2 Adhearsion Hello World

%p This screencast by Jason Goecke shows how to write your first 'Hello World' dialplan.

%embed{:width => "430", :height => "287", :allowfullscreen => "true", :allowscriptaccess => "always", :type => "application/x-shockwave-flash", :src => "http://blip.tv/file/1635843"}
